/*Обнуляющие стили*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

body {
    background-image: url(./img/Mobile-bg.png);
    background-position: top;
    background-repeat: repeat-y;
    background-size: cover;
}

.wrapper {
    height: 100%;

    font-family: 'Inter', sans-serif;
    color: #fff;

}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*=========================header==========================*/

.header {
    width: 100%;
    position: fixed;
    background: #0E1014;
    display: flex;
    justify-content: center;
}

.header-logo {
    display: none;
}

.header-logo p {
    margin-top: 10px;
    color: #E4E5EA;
}

.list-link {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: self-start;

}

.list-link .no-mobile {
    display: none;
}

.list-link li:not(:first-child, :last-child) {
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.list-link li:first-child {
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.list-link li:last-child {
    margin-left: 15px;
    cursor: pointer;
}

.header-contacts {
    display: none;
}

.header-contacts-list {
    display: none;
}

.header-contacts-list li:not(:first-child, :last-child) {
    cursor: pointer;
}

.header-contacts-list li:first-child {
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.header-contacts-list li:last-child {
    cursor: pointer;
}

/*=========================================================*/
/*========================content==========================*/
.wrapper-content {
    flex: 1 0 auto;
    margin-top: 55px;
    margin-bottom: 59px;
    display: flex;
    flex-direction: column;
}

.content-left-col {
    margin-top: 40px;
    margin-left: 14px;
    max-width: 272px;
}

.left-title {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
}

.left-title span {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.left-text {
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #E4E5EA;
}

.content-right-col {
    margin-top: 45px;
}


.right-list-title {
    max-width: 272px;
    margin-left: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #E4E5EA;
}

.title-gradient-first,
.title-gradient-second {
    font-weight: 700;
}

.title-gradient-first {
    background: linear-gradient(92deg, #FCB045 -23%, #FD1D1D 160%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.title-gradient-second {
    background: linear-gradient(92deg, #FCB045 90%, #FD1D1D 111%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.right-list--desctop {
    display: none;
}

.right-list--mobile {
    margin-top: 20px;
    margin-left: 16px;
    max-width: 272px;
    display: flex;
    gap: 10px;
}

.list-col--mobile {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.right-list--mobile li {
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.list-border--mobile {
    background: linear-gradient(92deg, #FCB045 50%, #FD1D1D 100%), #E4E5EA;
    width: 10px;
    height: 1px;
    margin-right: 5px;
}


.right-button {
    display: none;
}

/*=========================================================*/
/*=========================footer==========================*/

.footer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    background: #0E1014;
}

.footer-col {
    margin-left: 15px;
}

.footer-col:first-child {
    margin-top: 40px;
}

.about-title,
.menu-title,
.contacts-title {
    color: #656566;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.about-list,
.menu-list,
.contacts-list {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    gap: 10px;
}

.about-list li,
.menu-list li,
.contacts-list li {
    color: #E4E5EA;
}

.menu-list-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts-list-item-flex {
    display: flex;
    gap: 10px;
}

.about-list,
.contacts-list {
    flex-direction: column;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 50px;
    margin-bottom: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #E4E5EA;
}

.copyright-under {
    text-decoration-line: underline;
}

/*=========================================================*/

@media (min-width: 768px) {
    body {
        background-image: url(./img/Desktop-bg.png);
        background-position: center;
    }

    .container {
        width: 768px;
        max-width: 768px;
        padding: 0 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .header {
        position: static;
        background: transparent;
        margin-top: 23px;
        display: flex;
        justify-content: space-between;
    }

    .header-logo {
        display: block;
        margin-top: 15px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
    }

    .header-logo p {
        margin-top: 10px;
        color: #E4E5EA;
    }

    .list-link {
        text-transform: none;
        margin-left: 26px;
        margin-right: 26px;
        margin-top: 15px;
        display: flex;
        align-items: self-start;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    .list-link li:not(:first-child, :last-child) {
        margin-left: 15px;
        margin-right: 15px;
        cursor: pointer;
    }

    .list-link li:first-child {
        margin-left: 0;
        margin-right: 15px;
    }

    .list-link .no-mobile {
        display: block;
    }

    .wrapper-content {
        margin-top: 90px;
        flex-direction: row;
        justify-content: space-between;
    }


    .right-list--desctop {
        display: flex;
    }

    .right-list--mobile {
        display: none;
    }

    .right-button {
        margin-top: 61px;
        display: block;
        width: 262px;
        height: 61px;

        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #E4E5EA;

        background: #4077F3;
    }

    .content-left-col {
        margin-top: 0;
        margin-left: 0;
        max-width: 362px;
    }

    .left-title {
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;
    }

    .left-title span {
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .left-text {
        margin-top: 30px;
    }

    .content-right-col {
        margin-top: 15px;
    }

    .content-right-list {
        display: flex;
        flex-direction: column;
        align-items: end;
    }


    .right-list-title {
        margin-left: 0;
        text-align: right;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #E4E5EA;
    }

    .title-gradient-first,
    .title-gradient-second {
        text-transform: uppercase;
        font-weight: 700;
    }

    .title-gradient-first {
        background: linear-gradient(92deg, #FCB045 -25%, #FD1D1D 70%), #E4E5EA;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .title-gradient-second {
        background: linear-gradient(92deg, #FCB045 65%, #FD1D1D 140%), #E4E5EA;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .right-list--desctop {
        margin-top: 40px;
        display: flex;
        justify-content: end;
        gap: 30px;
    }

    .right-list--mobile {
        display: none;
    }

    .right-list--desctop div {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .right-list--desctop div li {
        display: flex;
        text-align: end;
        flex-direction: column;
    }

    .right-list--desctop div li h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #E4E5EA;
    }

    .right-list--desctop div li p {
        margin-top: 6px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: right;

        color: #E4E5EA;
    }

    .footer {
        flex-direction: row;
        background: transparent;
    }

    .footer-col {
        margin-left: 0;
    }

    .footer-col:first-child {
        margin-top: 0px;
        margin-right: 98px;
    }

    .footer-col:last-child {
        text-align: right;
    }

    .footer-col-second {
        flex: 1 0 auto
    }
    
    .about-title,
    .menu-title,
    .contacts-title {
        color: #656566;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    .about-list,
    .menu-list,
    .contacts-list {
        display: flex;
        margin-top: 20px;
        margin-bottom: 30px;
        gap: 10px;
    }

    .contacts-list {
        gap: 20px;
    }

    .menu-list {
        gap: 52px;
    }

    .about-list li,
    .menu-list li,
    .contacts-list li {
        color: #E4E5EA;
    }

    .menu-list-col {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .contacts-list-item-flex {
        display: flex;
        justify-content: end;
        gap: 10px;
    }

    .about-list,
    .contacts-list {
        flex-direction: column;
    }

    .footer-copyright {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 50px;
        margin-bottom: 60px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #E4E5EA;
    }

    .copyright-under {
        text-decoration-line: underline;
    }


}

@media (min-width: 1024px) {
    .container {
        width: 1024px;
        max-width: 1024px;
        padding: 0 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .header {
        position: static;
        background: transparent;
        margin-top: 23px;
        display: flex;
    }

    .list-link {
        margin-left: 52px;
        margin-top: 15px;
        display: flex;
        align-items: self-start;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        flex: 1 1 auto;
    }

    .header-contacts {
        display: block;
    }

    .header-contacts-list {
        margin-top: 15px;
        display: flex;
    }

    .header-contacts-list li:not(:first-child, :last-child) {
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
    }

    .header-contacts-list li:first-child {
        margin-right: 10px;
    }

    .header-contacts-list li:last-child {
        margin-left: 5px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
        max-width: 1200px;
        padding: 0 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .header {
        margin-top: 46px;
    }

    .header-contacts-list li:not(:first-child, :last-child) {
        margin-left: 16px;
        margin-right: 16px;
        cursor: pointer;
    }

    .header-contacts-list li:first-child {
        margin-right: 31px;
        cursor: pointer;
    }

    .header-contacts-list li:last-child {
        margin-left: 16px;
        cursor: pointer;
    }
}